{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}
<h1>Home</h1>

<div class="card">
<a class="button" href="{% url 'create_post' %}">
    New Post
</a>
</div>

<div class="feed">
    <h1>Feed</h1>

    {% for post in posts %}

        <article>
            <h2>
                <a href="{% url 'post_detail' post.pk %}">
                {{ post.title }}
                </a>
            </h2

            <p>
                By {{ post.author.username }}
            </p>

            <p>
                {{ post.content }}
            </p>

            <p>
                Posted on {{ post.created_at }}
            </p>
        </article>

        <hr>

    {% empty %}

        <p>No posts yet.</p>

    {% endfor %}


</div>



{% endblock %}