{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="home-page">


<div class="container-home">

    <a class="button" href="{% url 'create_post' %}">
        <i class="fa-solid fa-paintbrush"></i>
        New Post
    </a>

    <a class="button" href="{% url 'post_list' %}">
        <i class="fa-solid fa-person-through-window"></i>
        Feed
    </a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="button logout-button" type="submit">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </button>
    </form>

</div>


<div class="home-posts">

    {% for post in posts %}

        <article class="home-post-card">

            <h2>
                <a href="{% url 'post_detail' post.pk %}">
                    {{ post.title }}
                </a>
            </h2>

            <p class="home-post-content">
                {{ post.content }}
            </p>

            {% if post.image %}
                <img class="home-post-image"
                    src="{{ post.image.url }}"
                    alt="Post image">
            {% endif %}

            <div class="home-post-info">
                <span>
                    <i class="fa-solid fa-user"></i>
                    {{ post.author.username }}
                </span>

                <span>
                    <i class="fa-regular fa-clock"></i>
                    {{ post.created_at|date:"M d, Y" }}
                </span>
            </div>

        </article>

    {% empty %}

        <div class="no-posts">
            <h2>No posts yet.</h2>
            <p>Be the first person to post something.</p>
        </div>

    {% endfor %}

</div>


</div>

{% endblock %}
